@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../../fonts/#{$file_name}.woff") format("woff"), url("../../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
};

@mixin border-radius($n) {
  border-radius: $n;
};

@mixin opacity($opacity) {
  opacity: $opacity;
};

@mixin fontStyle($index, $type) {
  $size: map-get($sizes, $index);
  $weight: map-get($weights, $type);

  font: {
    size: $size;
    weight: $weight;
  }
};

@mixin respond($breakpoint) {
  @media (max-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
};
