@import '../../../style/elements/vars';
@import '../../../style/elements/mixin';

.search-form {

  &__search {
    .input {
      border-radius: 8px 0px 0px 8px;
    }

    .btn {
      border-radius: 0px 8px 8px 0px;
    }
  }

  &__select {
    margin-right: 8px;
    width: 100%;

    &:last-child {
      margin-right: 0;
      width: 388px;
      flex-shrink: 0;
    }

    &-wrap {
      margin-top: 16px;
    }
  }
}

.react-select {

  //&-container {
  //  font-family: $font;
  //  @include fontStyle(4, regular);
  //}
  //
  //&__placeholder {
  //  color: $placeholder !important;
  //}
  //
  //&__control {
  //  @include border-radius(8px !important);
  //  border-color: $sec-hover !important;
  //  height: 40px;
  //  transition: $transition !important;
  //
  //  &:hover {
  //    border-color: $prim-line !important;
  //  }
  //
  //  &--is-focused {
  //    box-shadow: $focus-shadow !important;
  //  }
  //}
  //
  //&__indicator {
  //  color: $base !important;
  //
  //  &-separator {
  //    width: 0 !important;
  //  }
  //}
}
