@import "../../style/elements/vars";
@import "../../style/elements/mixin";


.auth {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 18px;

	& .title {
		padding-bottom: 24px;
	}

	&__description {
		@include fontStyle(5, regular);
	}

	&__input {

		&-wrap {
			margin-top: 56px;

			& .auth__input {
				margin-right: 16px;

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}

	&__agree {
		margin-top: 124px;
		display: flex;
		align-items: center;

		&-input {
			display: inline-block;

			& .input {

				&__wrapper {
					flex-direction: row-reverse;
				}

				&__label {
					@include fontStyle(4, regular);
					margin-left: 8px;
				}
			}
		}

		& .link {
			margin-left: 4px;
			color: $base;
			@include fontStyle(4, medium);
		}
	}

	&__button {

		&.btn {
			margin-top: 28px;
			width: 100%;
			background-color: $prim-line;
		}
	}

	&__error {
		margin-top: 24px;

		& .auth__description {
			max-width: 544px;
			margin-top: 84px;
			padding-bottom: 24px;
		}
	}
}